p {
  font-family: Lato;
}

nav > a {
  display: block;
  color: white;
  background-color: grey;
  text-decoration: none;
  padding: 5px;
  margin-bottom: 3px;
}

nav > a:hover {
  background-color: coral;
}

span.author {
  font-size: 0.8rem;
}